<h1>Favorites#index</h1>

<% @user.favorites.each do |favorite| %>
 <%= link_to song_path(favorite.song) do %>
   <%= attachment_image_tag(favorite.song, :image, format: 'jpeg') %>
   <%= favorite.song.title %>
 <% end %>
<% end %>
