<h1>Relationships#follower_index</h1>

<% @user.follower_user.each do |user| %>
  <%= attachment_image_tag(user, :image, format: 'jpeg') %>
  <%= user.name %>
  <% if current_user.id != user.id %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", unfollow_path(user.id), method: :post %>
    <% else %>
      <%= link_to "フォローする", follow_path(user.id), method: :post %>
    <% end %>
  <% end %>
<% end %>