<div class="row pb-3">
  <div class="ml-4">
    <%= form_with url: songs_path, method: :get, local: true do |f| %>
      <%= f.text_field :search %>
      <%= f.submit "Search" ,:title => nil ,class: "button is-info ml-1"%>
    <% end %>
  </div>

  <div class="navbar style">
    <% song_styles.each do |song_style| %>
      <ul class="nav pull-right menu_style">
        <li><%= link_to song_style.style, songs_path(sort_style: song_style.id) %></li>
      </ul>
    <% end %>
  </div>
</div>