<div class="col-10 mx-auto">
  <h1 class="text-center mt-5">Welcome to ENJOY MUSIC!</h1>

  <div class="my-4 ml-3"><%= image_tag 'jose-pinto-rVl0AwcRYsE-unsplash.jpg', size: '800x550', class: "img_about" %></div>

  <div class="col-8 mx-auto my-5 text_about">
  <h4>ENJOY MUSIC!へようこそ！</h4>
  <p>自分で作った曲を誰かに聴いてもらいたいと思ったことはありませんか？<br>
  ENJOY MUSIC!では自分の作った楽曲を他の人に聴いてもらいコメントをもらったり、
  他の人が作った曲を聴いて刺激を受けたり、あなたの作曲ライフをより豊かにするための
  場所です。あなたの作った曲をぜひ聴かせてください。</p>
  <p>※会員登録していただくと楽曲の投稿やお気に入り登録、フォロー機能が使えるようになります。</p>
  </div>

  <div class="col-8 mx-auto text-center about_link">
    <span class="mx-4"><%= link_to ">新規登録", new_user_registration_path %></span>
    <span class="mx-4"><%= link_to ">ログイン", new_user_session_path %></span>
  </div>
</div>