/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

// * {
// font-family: 'Ubuntu', sans-serif;
// }

a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: blue
}

body {
  background-image: image-url("Banana.jpg");
  background-size: 50%;
}

.body {
  opacity: 0.97;
  min-height: 1000px;
  padding: 3rem;
  // background: linear-gradient(to bottom right, #b968c5, skyblue);
}

.word-break-break-all {
  word-break: break-all;
}

  .menu li, .menu_style li {
    margin-left: 60px;
  }

.play_bar {
  width: 90%;
  margin-bottom: 10px;
}

.box {
    position: relative;
}

.btn_play {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  background-image:  image-url("playbutton.png");
  background-size: 100% 100%;
  height: 50%;
  width: 50%;
  opacity: 0.5;
}

.btn_stop {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  background-image: image-url("stopbutton.jpeg");
  background-size: 100% 100%;
  height: 40%;
  width: 40%;
  opacity: 0.5;
}

.playbutton {
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.favorite {
  color: rgb(240,55,70);
}

.top_index {
  text-align: right
  }

.no_img {

}


@media screen and (max-width:992px) {

  .top_contents, .top_index {
    font-size: 20px;
  }

  .img_show {
    width: 100%;
    height: 100%;
  }

  .img_index {
    width: 100%;
    height: 60%;
  }

  .img_about {
    width: 100%;
    height: 300px;
  }

  .text_about {
    max-width: 100%;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  audio {
    width: 100%;
    height: 50px;
  }

  .menu li {
    margin-left: 20px;
  }

  .menu_style li {
    margin-left: 15px;
  }

  .q {
    width: 400px;
    margin: 0, auto;
  }

  .body {
    padding: 15px;
  }
}
